apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudguard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudguard
  template:
    metadata:
      labels:
        app: cloudguard
    spec:
      containers:
      - name: cloudguard
        image: vaishnavigandhare23/cloudguard:latest
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: cloudguard-service
spec:
  type: NodePort
  selector:
    app: cloudguard
  ports:
  - port: 80
    nodePort: 30080
