* { 
  margin:0; 
  padding:0; 
  box-sizing:border-box; 
  font-family:Verdana; 
}

.hero { 
  height:100vh; 
  background:linear-gradient(135deg,#0f172a,#1e293b); 
  color:white; 
}

nav { 
  display:flex; 
  justify-content:space-between; 
  padding:25px 60px; 
}

.logo { 
  font-size:28px; 
  font-weight:bold; 
}

.cta { 
  background:#38bdf8; 
  border:none; 
  padding:10px 20px; 
  border-radius:10px; 
  cursor:pointer; 
}

.content { 
  text-align:center; 
  margin-top:120px; 
}

h1 { 
  font-size:42px; 
  margin-bottom:20px; 
}

p { 
  width:55%; 
  margin:auto; 
  line-height:1.7; 
  font-size:18px; 
  opacity:.85; 
}

.btn { 
  display:inline-block; 
  margin-top:30px; 
  background:#22c55e; 
  padding:12px 28px;
  text-decoration:none; 
  color:white; 
  border-radius:12px; 
}

footer { 
  position:absolute; 
  bottom:30px; 
  width:100%; 
  text-align:center; 
  opacity:.7; 
}
